  <button mat-raised-button color="primary" (click)="openRegistrationModal($event)" class="registration-link"
          >Register</button>
<!--  <mat-menu #optionMenuExternal>-->
<!--    <button mat-menu-item *ngIf="showOptions" routerLink="/classes/fees">{{optionText}}</button>-->
<!--    <a mat-menu-item *ngIf="isExternalRegistration" [href]="externalRegistrationLink" >Register directly with YMCA</a>-->
<!--    <button mat-menu-item *ngIf="!isExternalRegistration" (click)="openRegistrationModal()" >Register Now</button>-->
<!--  </mat-menu>-->

<!--  [matMenuTriggerFor]="optionMenuExternal"-->


