<h1 mat-dialog-title>Register for a Program</h1>
<div mat-dialog-content>
  <p>Thank you for your interest in our programs. The automated registration system
  is not ready yet. Please sign up by emailing us directly. We will get back to you as
    soon as we can to confirm, or answer any questions.
  </p>
  <p>Email us <a [href]="mailTo">{{mailToName}}</a></p>

  <div class="input-line">
    <span class="item-title">Program:</span>
    <input disabled="disabled" class="item-value" [value]="data.programName">
  </div>
  <div class="input-line">
    <span class="item-title">Cost:</span>
    <input class="item-value" value="$ {{data.programFees}}">
  </div>
  <div class="input-line">
    <span class="item-title">Term:</span>
    <input class="item-value" value="{{data.season}} {{data.year}}">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-button mat-raised-button color="primary"  cdkFocusInitial>Ok</button>
</div>
