.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.logo-img {
  height: 18vh;
  flex: 1 1 0;
  align-self: flex-start;
  padding-top: 12px;
  padding-left: 12px;
}
@media (min-width:1000px) {
  h1 { font-size: 5vw !important; }
}
@media (min-width: 600px) {
  h1 { font-size: 3.5vw !important; }
}
@media (max-width: 600px) {
  .info-box { display: none !important; }
}
h1 {
  flex: 3 3 auto;
  align-self: center;
  text-align:center;
  margin: 0;
  font-size: 3.5vh;
}
.logo-img{ height: 10vh; }
.info-box {
  flex: 1 1 250px;
  display: flex;
  align-self: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 10px;
  .info-line {
    margin: 0 !important;
    font-size: 14px;
  }
}
