.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.logo-img {
  height: 18vh;
  flex: 1 1 0;
  align-self: flex-start;
  padding-top: 12px;
  padding-left: 12px;
}
@media (max-width: 1000px) {
  .logo-img{ height: 13vh; }
  h1 { font-size: 4vw; }
}

@media (max-width: 1000px) {
  .logo-img{ height: 10vh; }
  h1 { font-size: 3vw; }
  .info-box .info-line{font-size: 14px; }
}
@media (max-width: 600px) {
  .logo-img{ height: 6vh; }
  h1 { font-size: 2.5vw; }
  .info-box { display: none !important; }
}
h1 {
  flex: 3 3 auto;
  align-self: center;
  text-align:center;
  margin: 0;
  font-size: 5vw;
}

.info-box {
  flex: 1 1 150px;
  display: flex;
  align-self: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 10px;
  .info-line {
    margin: 0 !important;
  }
}
