/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,70);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import "~angular-calendar/css/angular-calendar.css";

@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$green: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sportorg-theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sportorg-theme);
