
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-calendar/css/angular-calendar.css";

@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$green: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sportorg-theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sportorg-theme);

// global styles for overlay elements and menus
.mat-menu-item {
  i {
    padding-left: 8px;
    padding-right: 8px;
  }
  i.blue {
    color: mat-color($primary, 700);
  }
  i.right-align {
    right: 0;
    position: absolute;
    top: 16px;
  }
}
.mat-expansion-panel {
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #dddddd;
}
::ng-deep.mat-expansion-panel-content {
  background-color: #eeeeee;
}
::ng-deep.mat-menu-panel {
  min-height: unset !important;
  .mat-menu-content {
    display: flex;
    flex-flow: column nowrap;
  }
}
.panel-header {
  background-color: mat-color($primary, 100) !important;
  .header-description {
    align-items: center;
  }
}
.hidden {
  display: none !important;
}
::ng-deep.mat-form-field-wrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}
::ng-deep.mat-form-field-flex {
  align-items: center !important;
}
::ng-deep.mat-form-field-infix {
  display: flex !important;
  flex: 1 1 auto !important;
  padding-right: 10px !important;
  text-align: right;
  border: none;
  width: unset !important;
}
::ng-deep.mat-form-field-suffix {
  align-self: center;
}

// list items
.mat-list {
  flex: 1 1 auto;
  padding: 0 40px;
  max-width: 800px;
  width: 100%;
  display: flex !important;
  flex-flow: column;

  .mat-subheader {
    font-size: 18px;
    color: black;
    flex: 1 1 auto;
    padding: 0 40px;
    max-width: 800px;
  }
  .mat-list-item {
    flex: 1 1 auto;
    max-width: 800px;
  }
  .info-line {
    font-size: 12px;
  }
}
// popovers
.popover-card {
  mat-card-header {
    flex-direction:column;
    align-items: center;
  }
}
.notice-popover {
  background-color: #eeeeee;
}
@media (max-width: 1000px) {
  .popover-card {
  }
}
// for snackbars
::ng-deep snack-bar-container.error-panel {
  background-color: #ffd0d9fa;
  border: 3px solid #ec224cfa;
  border-radius: 10px;
  color: black;
  .mat-button {
    color: black;
    background-color: white;
  }
}

::ng-deep .mat-simple-snackbar {
  justify-content: center !important;
}

// input modals
.mat-dialog-container{
  overflow-y: hidden !important;
  .modal-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: calc(80vw - 40px);
    overflow: hidden;
    height: calc(80vh - 50px);
  }
  .form-scroller {
    height: calc(80vh - 60px - 40px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .action-bar {
    flex: 1 1 40px;
    max-height: 40px;
    margin-top: 20px;
    align-self: flex-end;
    justify-content: flex-end;
    button {
      margin: 0 20px;
    }
  }

  .field-pretitle {
    margin-bottom: 0;
  }

  .form-wrapper {

    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
  }
  .field-card {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.02);
    .form-header {
      font-size: 16px;
      display: flex;
      flex-flow: row nowrap;
      h2 {
        flex: 1 1 auto;
        margin:0;
        padding-right: 10px;
      }
      .input-item-disabled {
        flex: 2 2 500px;
        border: 1px solid black;
        padding: 2px;
        margin: 2px;
        height: 40px;
        background-color: #dddddd;
        overflow:hidden;
      }
    }
  }

  .form-field {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    min-width: 300px;
    max-width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 5px;
    margin: 5px;
    align-items: center;
    h3 {
      padding-right: 20px;
      padding-left: 10px;
      margin: 5px 0;
      font-size: 15px;
    }
    .input-item {
      display: flex;
      flex: 2 2 auto;
      margin-left: auto;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .select-item {
      max-width: 300px;
      border: none;
      align-items: center;
      justify-content: center;
    }
    .select-table {
      flex: 1 1 auto;
    }
    .field-description{
      display: flex;
      max-width: 50%;
      font-size: 12px;
    }
  }
  .multi-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .invalid {
    border-color: red;
    color: red;
  }
  .input-grows {
    height: unset !important;
  }
  .mat-error {
    position: absolute;
    border: 1px solid blue;
    padding: 3px;
    bottom: 0px;
    background-color: lightblue;
    opacity: 0.9;
  }
  app-string-input, app-select-input, app-number-input, app-date-picker {
    width: 100%;
    display:flex;
    background-color:white;
  }
}
// filter bar styles
.filter-bar {
  display: flex !important;
  background-color: #ffffff;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
  max-width: 80%;
  margin-bottom: 10px;
  label {
    font-weight: 600;
  }
  .filter-found {
    display: flex;
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 16px;
    justify-content: flex-end;
  }
  .typeahead-filter {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 10px;
    max-height: 28px;
    max-width: 350px;
    display: flex;
    flex: 1 1 auto;
    input {
      border-bottom: 1px solid black;
      border-top: none;
      border-left: none;
      margin-left: 10px;
      border-right: none;
      text-align: right;
      flex: 1 1 auto;
      font-size: 16px;
      outline: none;
    }
    input:focus {
      outline: none;
    }
    button {
      height: 18px;
      width: 18px;
      line-height: 18px;
      .mat-icon {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
  .checkbox-filter {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px 10px;

    align-items: center;
    .mat-checkbox {
      flex: 1 1 auto;
      margin-left: 10px;
    }
  }
}


.not-disabled {
  color: black !important;
}
.disabled {
  background-color: grey !important;
}
