<div class="question-wrapper main-component">
    <div class="question-word col-3">
        <span  ng-class="[questionType]">Question</span>
        <span class="question-number">{{questionNumber}}</span>
    </div>

    <div class="col-7">
        <div class="question-content" ng-bind-html="questionContent"></div>
        <div class="requirements">
            <ul ng-repeat="req in requiredItems">
                <li >{{req.text}}</li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <button class="right" ng-click="showPanel()">Help!</button>
    </div>
</div>