<div class="page-wrapper">
  <h3 [innerHTML]="titleContent | safePipe: 'html'"></h3>
  <div class="dynamic-content" [innerHTML]="bodyContent | safePipe: 'html'"></div>

</div>


<!--<h3>About Beaches Sabre Club</h3>-->
<!--<p>The Beaches Sabre Club was a single weapon club started in 1990 in Toronto, Ontario. Founding members Alex Jeffrey,-->
<!--  Perry Stevens, and Jim Stevens started community programs in an area of Toronto called "the Beaches" and quickly-->
<!--  developed a passionate group of sabre fencers. Notably, the club thrived despite being one of the few clubs to exist-->
<!--  outside the University circuit, focusing on only a single weapon, and having (at the time) the audacity to promote-->
<!--  women's sabre at the National level.</p>-->
<!--<p>The <strong>Beaches Sabre Club East</strong> is an extension of that club which Jim Stevens has built up in the-->
<!--  Fredericton, New Brunswick community. At Beaches East, we still focus on just sabre, although we support athletes in-->
<!--  all weapons from around the province. We have a small <em>salle</em> at 512 George Street but are looking to expand the space-->
<!--  in the near future. We are exploring a number of ways to get new members into the sport of fencing, so pleas contact us-->
<!--  at <a href="mailto:beaches.east@gmail.com">beaches.east@gmail.com</a> if you would like to know more.</p>-->
<!--<mat-list>-->
<!--  <div mat-subheader>Some ways you or someone you know might get a taste of the sport:</div>-->
<!--  <mat-list-item>-->
<!--    <mat-icon matListIcon>check</mat-icon>-->
<!--    <div mat-line>Beginner classes</div>-->
<!--    <div mat-line class="info-line">(A 10 to 12 week program of weekly classes where we cover all the basics)</div>-->
<!--  </mat-list-item>-->
<!--  <mat-list-item>-->
<!--    <mat-icon matListIcon>check</mat-icon>-->
<!--    <div mat-line>SPARK Program</div>-->
<!--    <div mat-line class="info-line">(Four classes offered through the George Street Middle School system)</div>-->
<!--  </mat-list-item>-->
<!--  <mat-list-item>-->
<!--    <mat-icon matListIcon>check</mat-icon>-->
<!--    <div mat-line>Group events</div>-->
<!--    <div mat-line class="info-line">(Arrange a one-of demo of the sport for you and your friends)</div>-->
<!--  </mat-list-item>-->
<!--</mat-list>-->
<!--<mat-divider></mat-divider>-->
<!--<p>There is also a <strong>Beaches Sabre Club NY</strong> in the Albany, New York area. This club was formed by-->
<!--  Alex Jeffrey and Carolyn Washburn and has produced some truly excellent sabre fencers. You can get more information-->
<!--  from their own website here: <a href="https://www.beachesny.net/" target="_blank">Beaches NY</a></p>-->
