.mg-top-20 {margin-top: 20px; }
.mg-top-15 {margin-top: 15px; }
.mg-top-10 {margin-top: 10px; }
.mg-top-5 {margin-top: 5px; }
.mg-top-3 {margin-top: 3px; }

.mg-bottom-20 {margin-bottom: 20px; }
.mg-bottom-15 {margin-bottom: 15px; }
.mg-bottom-10 {margin-bottom: 10px; }
.mg-bottom-5 {margin-bottom: 5px; }
.mg-bottom-3 {margin-bottom: 3px; }

.mg-left-20 {margin-left: 20px; }
.mg-left-15 {margin-left: 15px; }
.mg-left-10 {margin-left: 10px; }
.mg-left-5 {margin-left: 5px; }
.mg-left-3 {margin-left: 3px; }

.mg-right-20 {margin-right: 20px; }
.mg-right-15 {margin-right: 15px; }
.mg-right-10 {margin-right: 10px; }
.mg-right-5 {margin-right: 5px; }
.mg-right-3 {margin-right: 3px; }

.pd-20 {padding: 20px; }
.pd-10 {padding: 15px; }
.pd-5 {padding: 10px; }
.pd-0 {padding: 0; }