@import "../../../../../styles";

.modal-wrapper-sm {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.checkin-action {
  display: flex;
  font-weight: 600;
  justify-content: space-evenly;
}
