commands:
  npm_install:
    command: sudo yum -y --enablerepo=epel install npm

option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: me@example.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /: /pages

container_commands:
  01_gulp_rebuild-dev:
    command: gulp rebuild-dev
