commands:
  01_npm_install:
    command: sudo yum -y --enablerepo=epel install npm

option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: me@example.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /: /pages

container_commands:
  02_gulp_install:
    command: npm install -g gulp
  03_guild_rebuild:
    command : gulp rebuild-dev
