aws dynamodb create-table --endpoint-url http://localhost:8000 \
--table-name Events \
--attribute-definitions \
AttributeName=EventId,AttributeType=N \
AttributeName=SubEventId,AttributeType=N \
--key-schema \
AttributeName=EventId,KeyType=HASH \
AttributeName=SubEventId,KeyType=RANGE \
--provisioned-throughput \
ReadCapacityUnits=10,WriteCapacityUnits=5

\\ NOTE: Only need to define columns that will be the partition(HASH) or sort (RANGE) keys
