<div class="modal-wrapper">
  <div class="form-scroller">
    <form autocomplete="off" novalidate class="form-wrapper">

      <mat-card class="field-card">
        <div class="form-header"><h2>Record a New Payment</h2></div>
        <div class="form-content">
          <app-select-input
            [title]="'From'"
            [showEmpty]="true"
            [staticLookup]="members"
            (selectionObject)="selectPayFrom($event, 'member')"
          ></app-select-input>
          <app-select-input
            [title]="'From company'"
            [showEmpty]="true"
            [staticLookup]="companies"
            (selectionObject)="selectPayFrom($event, 'company')"
          ></app-select-input>

          <app-select-input
            [title]="'Against invoice'"
            [showEmpty]="true"
            [staticLookup]="memberInvoices"
            [selected]="payment?.invoiceId"
            (selectionObject)="selectInvoice($event)"
          ></app-select-input>
            <app-select-input
              [title]="'Payment to'"
              [staticLookup]="companies"
              [selected]="payment?.toId"
              (selectionObject)="selectPayTo($event,'company')"
            ></app-select-input>
            <app-select-input
              [title]="'Personal Payment to'"
              [showEmpty]="true"
              [staticLookup]="members"
              (selectionObject)="selectPayTo($event,'member')"
            ></app-select-input>

          <app-number-input
            [title]="'Amount'"
            [value]="payment?.amount"
            (valueChange)="updateAmount($event)"
            [numberType]="'float'"
          ></app-number-input>

          <app-select-input
            [title]="'Payment Method'"
            [staticLookup]="paymentMethods"
            [selected]="1"
            (selectionObject)="selectMethod($event)"
          ></app-select-input>
        </div>
      </mat-card>
    </form>
  </div>
  <div class="action-bar">
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!paymentValid()" (click)="savePayment()">Commit</button>
  </div>
</div>
