<div class="modal-wrapper-sm">
  <h1>Record a New Payment</h1>
    <mat-card class="form-scroller-sm">
      <mat-card-content class="scroll-modal-lg">
        <div class="wrap-fields">
          <div class="select-row">
            <h3>From</h3>
            <app-select-input
              [showEmpty]="true"
              [staticLookup]="members"
              [selected]="payment?.fromId"
              (selectionObject)="selectPayFrom($event)"
            ></app-select-input>
          </div>
          <div class="select-row-lg">
            <h3>Against invoice</h3>
            <app-select-input
              [showEmpty]="true"
              [staticLookup]="memberInvoices"
              [selected]="payment?.invoiceId"
              (selectionObject)="selectInvoice($event)"
            ></app-select-input>
          </div>
          <div class="select-row">
            <h3>Payment to</h3>
            <mat-form-field appearance="outline" floatLabel="always" class="modal-form-field">
              <input matInput [value]="'Beaches Sabre Club East'" [disabled]="'disabled'">
            </mat-form-field>
          </div>
          <div class="select-row">
            <h3>Amount</h3>
              <app-number-input
                [value]="payment?.amount"
                (numberChanged)="updateAmount($event)"
                [numberType]="'float'"
              ></app-number-input>
          </div>
          <div class="select-row">
            <h3>Payment Method</h3>
            <app-select-input
              [staticLookup]="paymentMethods"
              [selected]="1"
              (selectionObject)="selectMethod($event)"
            ></app-select-input>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  <div class="action-bar">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!paymentValid()" (click)="savePayment()">Commit</button>
  </div>
</div>
