<mat-card class="page-wrapper widget-card">
  <mat-card-title>
    <h1>{{profile?.firstName}} {{profile?.lastName}}</h1>
  </mat-card-title>
  <mat-card-content class="exercise-list">
    <div class="exercise-filter filter-bar mat-card">
      <div class="typeahead-filter">
        <label>Search:</label>
        <input type="text" placeholder="by exercise title" matInput [formControl]="textInput" />
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button (click)="clearString()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="filter-found">Found items: {{filteredExercises.length || 0}}</div>
      <div class="checkbox-filter">
        <label >Show:</label>
        <mat-checkbox class="multi-select" *ngFor="let stat of statOptions"  (change)="selectStat($event, stat)">
          {{stat.name}}
        </mat-checkbox>
      </div>
    </div>
    <ng-container *ngFor="let exercise of filteredExercises">
      <mat-card class="exercise-item">
        <div class="icon">
          <ng-container *ngIf="exercise.iconType === 'fa'">
            <span class="icon-wrapper"><i ngClass="mat-icon {{exercise.iconName}}" ></i></span>
          </ng-container>
          <ng-container *ngIf="exercise.iconType === 'mat'">
            <span class="icon-wrapper">
              <mat-icon>{{exercise.iconName}}</mat-icon>
            </span>
          </ng-container>
        </div>
        <div class="info">
          <div class="exercise-name">{{exercise.name}}</div>
          <div class="exercise-desc"><p [innerHtml]="exercise.description | safePipe: 'html'"></p></div>
          <div class="exercise-nums">
            <span class="value-icons">
              <ng-container *ngFor="let stat of exercise.statValues">
              <div class="icon-wrapper">
                <i ngClass="mat-icon {{stat.icon}}" appTooltip [hangRight]="true"
                     [tooltipData]="'Points earned towards: ' + stat.name"
              ></i><span class="stat-value">{{stat.value}}</span></div>
                </ng-container>
            </span>
          </div>
        </div>
        <div class="actions">
          <div class="set-desc"><span>One set is:</span><span>{{exercise.measurementUnitQuantity}} {{exercise.measurementUnit}}</span></div>
          <button mat-raised-button color="primary" (click)="logExercise(1, exercise.exerciseId, exercise)">1 Set</button>
          <button mat-raised-button color="primary" (click)="logExercise(2, exercise.exerciseId, exercise)">2 Sets</button>
          <button mat-raised-button color="primary" (click)="logExercise(3, exercise.exerciseId, exercise)">3 Sets</button>
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
