.widget-card {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #dddddd96;
  .mat-card-content {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;

    .exercise-item {
      max-width: 80%;
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 10px;
      //background-color: #cbf3cb;
      .icon {
        display: flex;
        max-width: 60px;
        align-items: center;
        margin-right: 10px;
        .edit-button {
          position: absolute;
          top: 5px;
          left: 5px;
          min-width: 50px;
          .mat-icon {
            font-size: 24px;
            height: 24px;
            width: 24px;
          }
        }
        .mat-icon {
          font-size: 36px;
          height: 40px;
          width: 40px;
        }
      }
      .info {
        flex: 1 1 0px;
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        .exercise-name {
          font-weight: 600;
          font-size: 24px;
        }
        .exercise-nums {
          font-weight: 600;
          display: flex;
          text-align: right;
          align-items: center;
          justify-content: flex-end;
          .value-icons {
            text-align: left;
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            .icon-wrapper {
              padding-right: 10px;
            }
          }

        }
      }
      .actions {
        max-width: 100px;
        min-width: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        .set-desc {
          font-weight: 600;
          display: flex;
          flex-flow: column nowrap;
        }
        .mat-raised-button {
          margin: 5px 0;
        }
      }
    }
  }
}
@media (max-width: 800px) {
 .exercise-item {
   .actions {
     flex: 1 1 auto !important;
     flex-flow: row nowrap !important;
     max-width: 100% !important;
     .mat-raised-button {
       display: flex;
       flex: 1 1 auto;
       justify-content: center;
       margin: 0 10px !important;
     }
   }

 }
}

// font-awesome fonts that aren't rendering well
.fa-hand-sparkles:before {
  content: "\f95d";
}
.fa-lungs:before {
  content: "\f967";
}
