<mat-card class="page-wrapper widget-card">
  <mat-card-title>
    <h1>{{profile?.firstName}} {{profile?.lastName}}</h1>
  </mat-card-title>
  <mat-card-content class="exercise-list">

    <app-filter-bar class="mat-card" [filterConfig]="filterConfig" (requestFilter)="filterExercises($event)"></app-filter-bar>

    <ng-container *ngFor="let exercise of filteredExercises">
      <mat-card class="exercise-item">
        <div class="info">
          <div class="exercise-name">{{exercise.name}}</div>
          <div class="exercise-desc"><p [innerHtml]="exercise.description | safePipe: 'html'"></p></div>
          <div class="exercise-nums">
            <span class="value-icons">
              <ng-container *ngFor="let stat of exercise.statValues">
              <div class="icon-wrapper">
                <i ngClass="mat-icon {{stat.icon}}" appTooltip [hangRight]="true"
                     [tooltipData]="'Points earned towards: ' + stat.name"
              ></i><span class="stat-value">{{stat.value}}</span></div>
                </ng-container>
            </span>
          </div>
        </div>
        <div class="right-stack">
          <div class="icon">
            <ng-container *ngIf="exercise.fileId > 0">
            <span class="icon-wrapper">
              <img class="image-item" restImage [restSrcId]="exercise.fileId" [maxSize]="120" src="" (click)="showFullImage(exercise)" />
            </span>
            </ng-container>
            <ng-container *ngIf="!exercise.fileId">
              <ng-container *ngIf="exercise.iconType === 'fa'">
                <span class="icon-wrapper"><i ngClass="mat-icon {{exercise.iconName}}" ></i></span>
              </ng-container>
              <ng-container *ngIf="exercise.iconType === 'mat'">
            <span class="icon-wrapper">
              <mat-icon>{{exercise.iconName}}</mat-icon>
            </span>
              </ng-container>
            </ng-container>
          </div>

          <div class="actions">
            <div class="set-desc"><span>One set is:</span><span>{{exercise.measurementUnitQuantity}} {{exercise.measurementUnit}}</span></div>
            <button mat-raised-button color="primary" (click)="logExercise(1, exercise.exerciseId, exercise)">Completed</button>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
