<mat-card class="page-wrapper widget-card">
  <mat-card-title>
    <h1>{{profile?.firstName}} {{profile?.lastName}}</h1>
  </mat-card-title>
  <mat-card-content class="exercise-list">
    <ng-container *ngFor="let exercise of exercises">
      <mat-card class="exercise-item">
        <div class="icon">
          <div class="mat-raised-button mat-warn edit-button" *ngIf="appUser?.isFitnessAdmin" (click)="editExercise(exercise)">
            <mat-icon>edit</mat-icon>
          </div>
          <ng-container *ngIf="exercise.iconType === 'fa'">
            <span class="icon-wrapper"><i ngClass="mat-icon {{exercise.iconName}}" ></i></span>
          </ng-container>
          <ng-container *ngIf="exercise.iconType === 'mat'">
            <span class="icon-wrapper">
              <mat-icon>{{exercise.iconName}}</mat-icon>
            </span>
          </ng-container>
        </div>
        <div class="info">
          <div class="exercise-name">{{exercise.name}}</div>
          <div class="exercise-desc"><p [innerHtml]="exercise.description | safePipe: 'html'"></p></div>
          <div class="exercise-nums">
            <span class="value-icons">
              <ng-container *ngFor="let stat of exercise.statValues">
              <div class="icon-wrapper"><i ngClass="mat-icon {{stat.icon}}" title="{{stat.name}}"></i>: {{stat.value}}</div>
                </ng-container>
            </span>
          </div>
        </div>
        <div class="actions">
          <div class="set-desc"><span>One set is:</span><span>{{exercise.measurementUnitQuantity}} {{exercise.measurementUnit}}</span></div>
          <button mat-raised-button color="primary" (click)="logExercise(1, exercise.exerciseId, exercise)">1 Set</button>
          <button mat-raised-button color="primary" (click)="logExercise(2, exercise.exerciseId, exercise)">2 Sets</button>
          <button mat-raised-button color="primary" (click)="logExercise(3, exercise.exerciseId, exercise)">3 Sets</button>
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
