app-filter-bar {
  max-width: 80%;
  min-width: 80%;
  margin-bottom: 10px;
  padding-top: 24px;
  padding-bottom: 0;
}
.widget-card {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #dddddd96;
  .mat-card-title {
    h2 { margin-bottom: 10px;}
  }
  .mat-card-content {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;

    .exercise-item {
      max-width: 80%;
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 10px;
      //background-color: #cbf3cb;
      .right-stack {
        flex: 1 1 120px;
        display: flex;
        max-width: 120px;
        flex-flow: column nowrap;
        padding: 10px;
        justify-content: center;
        align-items: center;
        .icon {
          display: flex;
          max-width: 100px;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 20px;
          img {
            cursor: zoom-in;
          }
          .edit-button {
            position: absolute;
            top: 5px;
            left: 5px;
            min-width: 50px;
            .mat-icon {
              font-size: 24px;
              height: 24px;
              width: 24px;
            }
          }
          .mat-icon {
            font-size: 80px;
            height: 80px;
            width: 80px;
          }
        }
        .actions {
          max-width: 100px;
          min-width: 100px;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-flow: column nowrap;
          .set-desc {
            font-weight: 600;
            display: flex;
            flex-flow: column nowrap;
          }
          .mat-raised-button {
            margin: 5px 0;
          }
        }
      }

      .info {
        flex: 1 1 0px;
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        .exercise-name {
          font-weight: 600;
          font-size: 24px;
        }
        .exercise-nums {
          font-weight: 600;
          display: flex;
          text-align: right;
          align-items: center;
          justify-content: flex-end;
          .value-icons {
            text-align: left;
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            .icon-wrapper {
              padding-right: 20px;
              font-size: 24px;
              display: flex;
              justify-content: center;
              flex-flow: row wrap;
              text-align: center;
            }
            .mat-icon {
              padding-top: 5px;
            }
            .stat-value {
              margin-left: 10px;
            }
          }

        }
      }
    }
  }
}
@media (max-width: 600px) {
 .exercise-item {
   .right-stack {
     flex: 1 1 auto !important;
     flex-flow: row nowrap !important;
     max-width: 100% !important;
     justify-content: space-evenly !important;
     .mat-raised-button {
       display: flex;
       flex: 1 1 auto;
       justify-content: center;
       margin: 0 10px !important;
     }
   }

 }
}

// font-awesome fonts that aren't rendering well
.fa-hand-sparkles:before {
  content: "\f95d";
}
.fa-lungs:before {
  content: "\f967";
}
