<div class="page-wrapper">
  <mat-tab-group class="widget-container" mat-align-tabs="center" dynamicHeight >
    <mat-tab label="Classes/Members" >
        <edit-panel class="admin-panel"
                    [configObject]="classConfig"
                    [tableAltClass]="'tall-input-table'"
                    [filterBarFields]="classConfig.filterBarFields"
        ></edit-panel>
        <edit-panel class="admin-panel"
                    [configObject]="programConfig"
                    [tableAltClass]="'tall-input-table'"
        ></edit-panel>
      <edit-panel class="admin-panel"
                  [configObject]="feesConfig"
      ></edit-panel>
        <edit-panel class="admin-panel"
                    [configObject]="memberConfig"
                    [tableAltClass]="'tall-input-table'"
                    [filterBarFields]="memberConfig.filterBarFields"
        ></edit-panel>
      <edit-panel class="admin-panel"
                  [configObject]="seasonConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>
    </mat-tab>
    <mat-tab label="Users" >
        <edit-panel class="admin-panel"
                    [configObject]="userConfig"
                    [tableAltClass]="'tall-input-table'"
        ></edit-panel>

        <mat-expansion-panel (afterExpand)="getMemberUsers()" class="expand-admin">
          <mat-expansion-panel-header class="panel-header">
            <h3>Grant Users access to Members</h3>
          </mat-expansion-panel-header>
          <div class="table-box">
            <p class="prompt-text">
              Users can only work with Members (fencers) that they have been linked to. Granting access will let the user
              see private information about that Member. Unlinking the Member will prevent that user from seeing private
              information. Administrators have access to all members.
            </p>
            <div class="action-items">
              <button mat-raised-button color="primary" class="link-button" [disabled]="!linkMemberId || !linkUserId"
                      (click)="linkMembers(linkMemberId,linkUserId, true)">Grant Access</button>

              <app-select-input
                [staticLookup]="userRows"
                (selectedChange)="linkUserId = $event"
              ></app-select-input>

              <app-select-input
                [staticLookup]="memberRows"
                (selectedChange)="linkMemberId = $event"
              ></app-select-input>

              <button mat-raised-button color="warn" class="link-button" [disabled]="!unlinkMemberUser"
                      (click)="linkMembers(unlinkMemberUser?.memberId,unlinkMemberUser?.userId, false)">Unlink Member</button>
            </div>

            <app-table ngClass="select-table"
                       [tableColumns]="memberLinkColumns"
                       [gridData]="memberUserRows"
                       [canSelect]="true"
                       (selectedRow)="selectMemberUser($event)"
                       [singleSelect]="true"
            ></app-table>
          </div>
        </mat-expansion-panel>

      <mat-expansion-panel (afterExpand)="getMemberUsers()" class="expand-admin">
        <mat-expansion-panel-header class="panel-header">
          <h3>Grant Roles to Users</h3>
        </mat-expansion-panel-header>
        <div class="table-box">
          <p class="prompt-text">
            Users can be assigned one or more roles within the app.
          </p>
          <div class="action-items">
            <app-select-input
              [staticLookup]="userRows"
              (selectionObject)="showUserRoles($event)"
            ></app-select-input>
            <div class="roles-list">
              <mat-chip-list multiple selectable>
                <mat-chip *ngFor="let role of selectedUserRoles"
                          [selected]="role.isSelected"
                          [value]="role.roleId"
                          [removable]="false"
                          (click)="updateUserRole(role)"
                >{{role.description}}</mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (afterExpand)="getMemberAttendance()" class="expand-admin">
        <mat-expansion-panel-header class="panel-header">
          <h3>Check Member Attendance</h3>
        </mat-expansion-panel-header>
        <div class="table-box">
          <p class="prompt-text">
            Select which date to view attendance for:
          </p>
          <div class="action-items">
            <mat-form-field appearance="fill" >
              <input matInput [matDatepicker]="attendDatePicker" disabled [(ngModel)]="attendDate">
              <mat-datepicker-toggle matSuffix [for]="attendDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #attendDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" class=""
                    (click)="getMemberAttendance()">Search</button>
          </div>

          <app-table ngClass="select-table"
                     [tableColumns]="attendColumns"
                     [gridData]="memberAttendance"
                     [canSelect]="false"
                     [trackById]="'memberUserId'"
          ></app-table>
        </div>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Pages/Menus" >
        <edit-panel class="admin-panel"
                    [configObject]="pageConfig"
                    [tableAltClass]="'tall-input-table'"
        ></edit-panel>

      <edit-panel class="admin-panel"
                  [configObject]="menuConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>

      <edit-panel class="admin-panel"
                  [configObject]="bannerConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>

      <edit-panel class="admin-panel"
                  [configObject]="toolTipConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>
      <edit-panel class="admin-panel"
                  [configObject]="questionConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>
    </mat-tab>
    <mat-tab label="Config" >
      <mat-expansion-panel (afterExpand)="getAppConfig()" class="expand-admin">
        <mat-expansion-panel-header class="panel-header">
          <h3>Configure the App</h3>
        </mat-expansion-panel-header>
        <div class="config-box">
          <mat-card *ngFor="let item of configRows">
            <app-string-input [(value)]="item.value"
                              [title]="item.configItem"
            ></app-string-input>
          </mat-card>
        </div>
        <button mat-raised-button color="warn" class="link-button" (click)="saveConfig()">Save</button>
      </mat-expansion-panel>

      <edit-panel class="admin-panel"
                  [configObject]="companyConfig"
                  [tableAltClass]="'tall-input-table'"
      ></edit-panel>

    </mat-tab>
  </mat-tab-group>
</div>
