.page-wrapper{
  display: flex;
  flex-flow: column nowrap;
  h1 {
    align-self: center;
  }
}
.admin-panel {
  display: flex;
  flex: 1 1 auto;
  margin: 10px;
}
.expand-admin {
  margin-left: 20px;
  margin-right: 10px;
  width: calc(100% - 40px);
}
.action-items {
  display: flex;
  align-items: center;
  .link-button {
    display: flex;
    margin: 10px;
    flex: 1 1 auto;
    min-width: 150px;
    justify-content: center;
  }
  app-select-input {
    display: flex;
    flex: 2 2 auto;
    margin: 0 10px;
  }
}
.config-box {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
}
