<div class="page-wrapper">
  <h4>Program Registration</h4>
  <mat-vertical-stepper [linear]="true" #stepper class="register-wizard"
                        appLoginRequired [checkForceLogin]="checkIfLoginRequired" (selectionChange)="checkProgramEnrolled()">
    <mat-step [completed]="!!currentMember">
      <ng-template matStepLabel><span>Who is being registered?</span><span class="chosen-value">{{currentMember?.memberName}}</span></ng-template>
      <p class="prompt-text">Select who to register</p>
      <mat-form-field class="register-field" floatLabel="always" appearance="outline">
        <mat-label >My members</mat-label>
        <input type="number" matInput class="hidden"/>
        <mat-radio-group class="member-radio-group"
                         [value]="currentMember" (change)="selectMember($event.value)">
          <mat-radio-button class="member-radio" [value]=""><em>clear selection</em></mat-radio-button>
          <mat-radio-button class="member-radio" *ngFor="let member of availableMembers" [value]="member">
            {{member.memberName}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
      <p class="prompt-text">If you are signing up for the first time, please create a member and select them.</p>
      <div class="member-buttons">
<!--          <button mat-raised-button color="primary"  [disabled]="!!currentMember" (click)="requestMemberAccess()">Request Access</button>-->
          <button mat-raised-button color="primary" [disabled]="!!currentMember" (click)="openAddMember()">Add New Member</button>
      </div>
      <div class="step-nav-buttons">
        <button mat-button matStepperNext [disabled]="!currentMember">Next</button>
      </div>
    </mat-step>

    <mat-step [editable]="!!currentMember" [completed]="!!currentProgram" >
      <ng-template matStepLabel><span>Select a program</span><span class="chosen-value">
        {{currentProgram?.programName}} {{currentProgram ? '(' + currentProgram.seasonName + ')' : ''}}
      </span></ng-template>

      <mat-form-field class="season-field" floatLabel="always" appearance="outline">
        <mat-label >Season</mat-label>
        <season-switcher (seasonChanged)="selectSeason($event)"></season-switcher>
        <input type="number" matInput class="hidden"/>
      </mat-form-field>

      <ng-container *ngIf="!alreadyEnrolled">
        <p class="prompt-text">Select a program to register for. A description will be shown when you select a program.</p>
        <mat-form-field class="register-field" floatLabel="always" appearance="outline">
          <mat-label >Programs</mat-label>
          <input type="number" matInput class="hidden"/>
          <mat-radio-group class="member-radio-group"
                           [value]="currentProgram" (change)="selectProgram($event.value)">
            <mat-radio-button class="member-radio" *ngFor="let program of allPrograms" [value]="program" [disabled]="alreadyEnrolled">
              {{program.programName}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>

        <mat-list *ngIf="currentProgram" class="class-list">
          <div mat-subheader>Classes</div>
          <mat-list-item *ngFor="let item of includedClasses" class="class-time-row">
            <div class="class-time-content">
              <strong>{{item.dayOfWeek}}</strong><span>{{item.startTime}} -> {{item.endTime}}</span><span>({{item.enrolled}} enrolled)</span>
            </div>
          </mat-list-item>
        </mat-list>
        <p class="html-description" [innerHTML]="currentProgram?.programDescription | safePipe: 'html'"></p>
      </ng-container>
      <ng-container *ngIf="alreadyEnrolled">
        <p class="prompt-text">This member is already enrolled for season: {{currentSeason.name}}. Please select another member or season.</p>
      </ng-container>


      <div class="step-nav-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!currentProgram">Next</button>
      </div>
    </mat-step>

    <mat-step label="Confirm" [editable]="!!currentProgram && !!currentMember">
      <p class="prompt-text">You can now complete this registration. Please read over your selections before registering.</p>
      <div class="summary-box">
        <div class="summary-item">
          <h3>Program</h3>
          <div class="item-value">{{currentSeason?.name}} {{currentProgram?.programName}}</div>
        </div>
        <div class="summary-item">
          <h3>Member/Fencer</h3>
          <div class="item-value">{{currentMember?.memberName}}</div>
        </div>
        <div class="summary-item">
          <h3>Cost</h3>
          <div class="item-description"><span>Base program fees</span>
            <div class="item-value">${{currentProgram?.feeValue}}</div>
          </div>
        </div>
        <div class="summary-item" *ngIf="currentMember?.isLoyaltyMember === 'Y' && currentProgram?.loyaltyDiscount === 'Y'">
          <h3></h3>
          <div class="item-description"><span>Loyalty member discount</span>
            <div class="item-value">-${{LOYALTY_DISCOUNT}}</div>
          </div>

        </div>
        <div class="summary-item" *ngIf="enrolledMembers && enrolledMembers.length > 0">
          <h3></h3>
          <div class="item-description"><span>Family discount ({{FAMILY_DISCOUNT}}%)</span>
            <div class="item-value">-$20</div>
          </div>

        </div>
        <div class="summary-item">
          <h3></h3>
          <div class="item-description"><span class="final-cost">Total</span>
            <div class="item-value final-cost">{{finalCost}}</div>
          </div>

        </div>
      </div>

      <div class="step-nav-buttons">
        <button class="register-button" mat-raised-button color="primary"
                (click)="submitRegistration(stepper)"
                [disabled]="!registrationComplete()"
                appLoginRequired [forceLogin]="currentUser?.isAnonymous"
        >Register Now</button>
        <button mat-button (click)="resetForm(stepper)">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
