<div class="modal-wrapper">
  <div class="form-scroller">
<form autocomplete="off" novalidate class="form-wrapper">

  <mat-card class="field-card">
    <div class="form-header">
      <h2>Member Name</h2>
      <input matInput [disabled]="true" [value]="member?.name" class="input-item-disabled">
    </div>

    <div class="multi-field">
      <div class="form-field">
        <h3>First Name*</h3>
        <div ngClass="input-item {{invalid.firstName ? 'invalid' : ''}}">
          <app-string-input [value]="member.firstName" (stringChanged)="updateName($event, 'firstName', true)"></app-string-input>
          <mat-error *ngIf="invalid.firstName">First name is required</mat-error>
        </div>
      </div>
      <div class="form-field">
        <h3>Middle Name</h3>
        <div class="input-item">
          <app-string-input [value]="member.middleName" (stringChanged)="updateName($event, 'middleName')"></app-string-input>
        </div>
      </div>
      <div class="form-field">
        <h3>Last Name*</h3>
        <div ngClass="input-item {{invalid.lastName ? 'invalid' : ''}}">
          <app-string-input [value]="member.lastName" (stringChanged)="updateName($event, 'lastName', true)"></app-string-input>
          <mat-error *ngIf="invalid.lastName">Last name is required</mat-error>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="field-card">
    <div class="form-header"><h2>Status</h2></div>
    <div class="multi-field">
      <div class="form-field">
        <h3>Year of Birth</h3>
        <div class="input-item">
          <app-number-input [value]="member.yearOfBirth" (numberChanged)="member.yearOfBirth = $event"></app-number-input>
        </div>
      </div>
      <div class="form-field">
        <h3>License (through <a href="http://fencing.ca/purchase-a-cff-licence/" target="_blank">Canadian Fencing Federation</a>)</h3>
        <div class="input-item">
          <app-string-input [value]="member.license" (stringChanged)="updateLicense($event)"></app-string-input>
        </div>
      </div>
      <div class="form-field">
        <h3>Gender (for competition)</h3>
        <div ngClass="input-item select-item {{invalid.competeGender ? 'invalid' : ''}}">
          <app-select-input
            [staticLookup]="genderLookup"
            [selected]="decodeLookup(member.competeGender, genderLookup)"
            (selectionObject)="selectGender($event)"
          ></app-select-input>
          <mat-error *ngIf="invalid.competeGender">Please select a competition category</mat-error>
        </div>
      </div>
      <div class="form-field">
        <h3>Athlete</h3>
        <div class="input-item select-item">
          <app-boolean-input (valueChanged)="member.isAthlete = ($event === 'Y') ? 'Y': 'N'"
                             [value]="member.isAthlete" ></app-boolean-input>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="field-card">
    <div class="form-header">
      <h2>Address</h2>
      <input matInput [disabled]="true" [value]="member?.homeAddress" class="input-item-disabled">
    </div>

    <div class="multi-field">
      <div class="form-field">
        <h3>Street Address</h3>
        <div class="input-item">
          <app-string-input [value]="tempAddress.street" (stringChanged)="updateAddress($event, 'street')"></app-string-input>
        </div>
      </div>
      <div class="form-field">
        <h3>City</h3>
        <div class="input-item">
          <app-string-input [value]="tempAddress.city" (stringChanged)="updateAddress($event, 'city')"></app-string-input>
        </div>
      </div>
      <div class="form-field">
        <h3>Postal Code</h3>
        <div ngClass="input-item {{invalid.postalCode ? 'invalid' : ''}}">
          <app-string-input [value]="tempAddress.postalCode" (stringChanged)="updateAddress($event, 'postalCode')"></app-string-input>
          <mat-error *ngIf="invalid.postalCode">Postal code must be valid</mat-error>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="field-card">
    <div class="form-header"><h2>Contact Info</h2></div>
    <div class="multi-field">
      <div class="form-field">
        <h3>Email*</h3>
        <div ngClass="input-item {{invalid.email ? 'invalid' : ''}}">
          <app-string-input [value]="member.email" (stringChanged)="updateEmail($event)"></app-string-input>
          <mat-error *ngIf="invalid.email">Email is required and must be formatted correctly</mat-error>
        </div>
      </div>
      <div class="form-field">
        <h3>Cell Phone</h3>
        <div ngClass="input-item {{invalid.cellPhone ? 'invalid' : ''}}">
          <app-string-input [value]="member.cellPhone" (stringChanged)="updatePhone($event, 'cellPhone')"></app-string-input>
          <mat-error *ngIf="invalid.cellPhone">Cell phone number must be formatted correctly</mat-error>
        </div>
      </div>
      <div class="form-field">
        <h3>Home Phone</h3>
        <div ngClass="input-item {{invalid.homePhone ? 'invalid' : ''}}">
          <app-string-input [value]="member.homePhone" (stringChanged)="updatePhone($event, 'homePhone')"></app-string-input>
          <mat-error *ngIf="invalid.homePhone">Home number must be formatted correctly</mat-error>
        </div>
      </div>
    </div>
  </mat-card>
</form>
  </div>
<div class="action-bar">
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
</div>
</div>

