<div class="modal-wrapper">
  <div class="form-scroller">
<form autocomplete="off" novalidate class="form-wrapper">
  <mat-card class="field-card">
    <div class="form-header"><h2>Member Name</h2></div>
    <div class="form-content">
      <app-string-input [(value)]="member.firstName"
                        [title]="'First name'" [isRequired]="true"
                        (valid)="checkValid($event, 'firstName')"
                        ></app-string-input>
      <app-string-input [(value)]="member.middleName"
                        [title]="'Middle name'"
                        ></app-string-input>
      <app-string-input [(value)]="member.lastName"
                        [title]="'Last name'" [isRequired]="true"
                        (valid)="checkValid($event, 'lastName')"
                        ></app-string-input>
    </div>
  </mat-card>

  <mat-card class="field-card">
    <div class="form-header"><h2>Status</h2></div>
    <div class="form-content">
      <app-number-input [(value)]="member.yearOfBirth"
                        [title]="'Year of birth'"
                        ></app-number-input>
      <app-string-input [(value)]="member.license" [title]="'CFF License'"
                        [hint]="'acquired through the Canadian Fencing Federation: https://www.fencing.ca'"
      ></app-string-input>

      <app-select-input
        [title]="'Gender (for competition)'"
        [staticLookup]="genderLookup"
        [required]="true"
        [selected]="member.competeGenderId"
        (selectionObject)="selectGender($event)"
      ></app-select-input>
      <app-boolean-input (valueChanged)="member.isAthlete = ($event === 'Y') ? 'Y': 'N'"
                         [title]="'Athlete'"
                         [value]="member.isAthlete" ></app-boolean-input>

    </div>
  </mat-card>

  <mat-card class="field-card">
    <div class="form-header"><h2>Address</h2></div>

    <div class="form-content">
      <app-string-input [(value)]="member.streetAddress" [title]="'Street address'"></app-string-input>
      <app-string-input [(value)]="member.city" [title]="'City'"></app-string-input>

      <app-select-input
        [lookupType]="'regions'"
        [title]="'Province'"
        [(selected)]="member.provinceId"
      ></app-select-input>

      <app-string-input [(value)]="member.postalCode" [title]="'Postal code'"></app-string-input>
    </div>
  </mat-card>
  <mat-card class="field-card">
    <div class="form-header"><h2>Contact Info</h2></div>
    <div class="form-content">
      <app-string-input [(value)]="member.email"
                        [title]="'Email'"
                        [isRequired]="true"
                        [validationType]="'email'"
      ></app-string-input>

      <app-string-input [value]="member.cellPhone"
                        [title]="'Cell phone'"
                        (valueChange)="updatePhone($event, 'cellPhone')"></app-string-input>

      <app-string-input [value]="member.homePhone"
                        [title]="'Home phone'"
                        (valueChange)="updatePhone($event, 'homePhone')"></app-string-input>
    </div>
  </mat-card>
</form>
  </div>
<div class="action-bar">
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="invalid && invalid.length > 0" (click)="saveForm()">Save</button>
</div>
</div>

