<div class="page-wrapper">
  <mat-expansion-panel [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header class="panel-header">
      <h1>Members/Fencers</h1>
    </mat-expansion-panel-header>
    <div class="table-box">
      <p class="prompt-text">
        These are the fencers that represent our club, and the members of the community that support us. We hope to
        expand this page to include athlete profiles of the adventures and exploits of our more daring members.
      </p>
      <app-table ngClass="select-table"
                 [tableColumns]="memberColumns"
                 [gridData]="memberRows"
                 [trackById]="'memberId'"
      ></app-table>
    </div>
  </mat-expansion-panel>
</div>
