.app-wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.page-header {
  background-color: grey;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.page-body{
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  height: 95vh;

  .main-content {
    background-color: green;
    flex: 4 1 auto;
  }

  .side-bar-content {
    background-color: blue;
    flex: 1 1 auto;
  }
}



