@import "~src/styles";

.app-wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

org-menu-bar {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  position:sticky;
  z-index: 100;
  top:0;
  background-color: mat-color($primary, 800);
  color: mat-color($primary, '800-contrast');
}

.page-header {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.page-body{
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  min-height: 70vh;

  .main-content {
    flex: 1 1 auto;
    flex-flow: column nowrap;
    overflow-x: auto;
    margin-right: 25vw;
  }
}

.side-bar-content {
  position: absolute;
  top: 280px;
  right: 0;
  max-width: 24vw;

  display: flex;
  padding: 20px;
  margin-top: 10px;
  margin-left: 5px;
  .side-card {
    max-width: 24vw;
    overflow-x: auto;
    height: calc(100% + 35px);
  }
}
.expanded {
  max-width: 60vw;
  .side-card {
    max-width: 60vw;
  }
}
.normal {
  max-width: 24vw;
  .side-card {
    max-width: 24vw;
  }
}

@media (max-width: 1000px) {
  .side-bar-content {
    display: none !important;
  }
  .main-content { margin-right: 0 !important; }
}
// or for apps without sidebar
.wide-content { margin-right: 0 !important; }

