<div class="menu-wrapper">
  <ng-container *ngIf="isStuck" >
    <div class="info-section" >
      512 George Street
    </div>
  </ng-container>

  <nav class="menu-stack" >
    <ng-container *ngFor="let menu of appMenus">
      <a  ngClass="mat-button {{menu.mobileOnly === 'Y' ? 'mobile-only': ''}}"
          routerLink="{{menu.link}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: menu.link === '/'}" tabindex="0"
      >{{menu.title}}</a>
    </ng-container>

  </nav>
  <div class="burger-menu">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="mobileMenu" >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #mobileMenu class="burger-menu-items">
      <ng-container *ngFor="let menu of appMenus">
        <a ngClass="mat-button {{menu.mobileOnly === 'Y' ? 'mobile-only': ''}}"
           routerLink="{{menu.link}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: menu.link === '/'}" tabindex="0"
        >{{menu.title}}</a>
      </ng-container>
    </mat-menu>
  </div>
  <div class="login">
    <a mat-button *ngIf="isAnon" [matMenuTriggerFor]="authMenu" tabindex="0" >
      Sign in
    </a>
    <mat-menu #authMenu>
      <button mat-menu-item (click)="login('google')"><i class="fab fa-google blue"></i>Google</button>
      <button mat-menu-item (click)="login('fb')"><i class="fab fa-facebook blue"></i>Facebook</button>
      <button mat-menu-item (click)="login('twitter')"><i class="fab fa-twitter blue"></i>Twitter</button>
    </mat-menu>
    <div class="welcome-splash" *ngIf="!isAnon">
      <img src="{{currentUser.photoURL}}" title="Welcome {{currentUser.displayName}}" [matMenuTriggerFor]="profileMenu">
      <mat-menu #profileMenu>
        <button mat-menu-item  routerLink="/my-profile"><mat-icon>perm_identity</mat-icon>My Profile</button>
        <button *ngIf="currentUser?.isAdmin" mat-menu-item  routerLink="/admin"><mat-icon>security</mat-icon>Admin</button>
        <button mat-menu-item  (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
      </mat-menu>
    </div>

  </div>
</div>

