.menu-wrapper{
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
}

.info-section{
  flex: 1 1 auto;
}
.menu-stack {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.login {
  flex: 1 1 100px;
  display:flex;
  max-height: 50px;
  justify-content: flex-end;
  padding-right: 10px;
  .welcome-splash{

    img {
      max-height: 50px;
      max-width: 50px;
      border-radius: 50%;
    }
  }
}

.active-link {
  background-color: darkgoldenrod;
}

@media(max-width: 800px) {
  .optional-button { display: none !important; }
}
