<div class="menu-wrapper">
  <ng-container *ngIf="isStuck" >
    <div class="info-section" >
      512 George Street
    </div>
  </ng-container>

  <nav class="menu-stack" >
    <a  class="mat-button" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" tabindex="0" >Home</a>
    <a mat-button routerLinkActive="active-link" [matMenuTriggerFor]="classMenu" tabindex="0" >
      Classes
    </a>
    <mat-menu #classMenu>
      <button mat-menu-item routerLink="/classes" fragment="schedule" >Schedule</button>
      <button mat-menu-item routerLink="/classes" fragment="programs" >Programs</button>
      <button mat-menu-item routerLink="/classes/fees" >Fees</button>
    </mat-menu>
    <a mat-button routerLink="/fencers" routerLinkActive="active-link" tabindex="0" >Fencers</a>
    <a mat-button routerLink="/events" routerLinkActive="active-link" tabindex="0" >Events</a>
    <a mat-button routerLink="/about-us" routerLinkActive="active-link" tabindex="0" >About Us</a>
    <a mat-button class="optional-button" [matMenuTriggerFor]="recentMenu" tabindex="0" >
      Recent Items
    </a>
    <mat-menu #recentMenu>
      <ng-container *ngFor="let item of recentItems">
        <button mat-menu-item (click)="exampleClick(item)">{{item.title}}</button>
      </ng-container>
    </mat-menu>

  </nav>
  <div class="login">
    <a mat-button *ngIf="isAnon" [matMenuTriggerFor]="authMenu" tabindex="0" >
      Sign in
    </a>
    <mat-menu #authMenu>
      <button mat-menu-item (click)="login('google')"><i class="fab fa-google blue"></i>Google</button>
      <button mat-menu-item (click)="login('fb')"><i class="fab fa-facebook blue"></i>Facebook</button>
      <button mat-menu-item (click)="login('twitter')"><i class="fab fa-twitter blue"></i>Twitter</button>
    </mat-menu>
    <div class="welcome-splash" *ngIf="!isAnon">
      <img src="{{currentUser.photoURL}}" title="Welcome {{currentUser.displayName}}" [matMenuTriggerFor]="profileMenu">
      <mat-menu #profileMenu>
        <button mat-menu-item  routerLink="/my-profile"><mat-icon>perm_identity</mat-icon>My Profile</button>
        <button mat-menu-item  (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
      </mat-menu>
    </div>

  </div>
</div>

