.menu-wrapper{
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
}

.info-section{
  flex: 1 1 auto;
}
.menu-stack {
  flex: 1 1 100%;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.login {
  flex: 1 1 100px;
  display:flex;
  max-height: 50px;
  justify-content: flex-end;
  padding-right: 10px;
  .welcome-splash{

    img {
      max-height: 50px;
      max-width: 50px;
      border-radius: 50%;
    }
  }
}

.active-link {
  background-color: darkgoldenrod;
}

.burger-menu { display: none !important; }
.mobile-only { display: none !important; }

@media(max-width: 1000px) {
  .optional-button { display: none !important; }
  .mobile-only { display: block !important; }
  .burger-menu { display:block !important;  }
  .menu-stack { display: none !important; }
}
