<ng-template #programTemplate let-data="data">
    <app-program-panel [programItem]="data"></app-program-panel>
</ng-template>
<div class="cal-card">
  <div class="actions">
    <button mat-raised-button color="primary" *ngIf="showExpand"
            (click)="toggleExpand()">{{isExpanded ? 'Collapse': 'Expand'}}</button>
      <button mat-raised-button (click)="changeWeek(-1)" class="week-button"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <div class="selector-text">Week of {{weekdays[0].specificDate}}</div>
      <button mat-raised-button (click)="changeWeek(1)" class="week-button"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  <div class="calendar">
    <ng-container *ngFor="let day of weekdays">
      <div ngClass="day-column {{(!isExpanded && day.isHidden) ? 'hide-column' : ''}}">
        <div ngClass="title-cell {{isExpanded ? 'expanded' : 'min-wide'}}">
          <span class="day-name">{{day.dayName}}</span>
          <span class="exact-date">{{day.specificDate}}</span>
        </div>
        <ng-container *ngFor="let event of timeSlotGrid[day.id]">
          <ng-container *ngIf="event.type === 'empty'">
            <div ngClass="empty-cell  {{isExpanded ? 'expanded' : 'min-wide'}}"></div>
          </ng-container>
          <ng-container *ngIf="event.type === 'class'">
            <div ngClass="event-cell tall-{{event.height}}  {{isExpanded ? 'expanded' : 'min-wide'}}"
                 [style.backgroundColor]="event.bgColor"
                 [style.color]="event.textColor"
            >
              <a class="event-name"
                 [tooltipTemplate]="programTemplate" appTooltip [delayOpen]="0" [tooltipData]="getProgram(event.programId)" [tooltipPanelClass]="'w1000'"
              >{{event.eventName}}</a>
              <span class="start-time">{{event.startTime}}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="allHidden" class="no-class-banner">
    <h2>No classes this week</h2>
  </div>

</div>
