<table ngClass="sportorg-table {{altClass}}">
  <thead>
    <div #scrollingHeader ngClass="header-container {{vertScrollShown ? 'shorter-header' : ''}}">
      <tr class="header-row" [style.min-width]="sharedWidth" [style.max-width]="sharedWidth">
        <th *ngIf="isEditable || canAddRows" class="header-cell edit-header"><mat-icon (click)="addNew()">add_box</mat-icon></th>
        <th *ngIf="canSelect" class="header-cell edit-header">&nbsp;</th>
        <ng-container *ngFor="let column of tableColumns"
                      [ngTemplateOutlet]="headerCell"
                      [ngTemplateOutletContext]="{column: column }"></ng-container>
      </tr>
    </div>
    <th ngClass="header-cell scroll-spanner"></th>
  </thead>

  <cdk-virtual-scroll-viewport [itemSize]="ROW_SIZE" class="body-scroll"
                               [minBufferPx]="SCROLL_MIN_BUFFER"
                               [maxBufferPx]="SCROLL_MAX_BUFFER">
    <ng-container *cdkVirtualFor="let row of gridDataRows; let index = index">
      <tr class="body-row">
        <td *ngIf="isEditable" class="body-cell edit-cell"><mat-icon *ngIf="row.rowEdit !== false" (click)="sendEdit(row)">edit</mat-icon></td>
        <td *ngIf="canSelect" class="body-cell edit-cell"><mat-checkbox (change)="selectRow(row, $event)" [name]="'row' + index"
                                                                        [ngModel]="row.isSelected"></mat-checkbox></td>
        <ng-container *ngFor="let column of tableColumns">
          <ng-container [ngTemplateOutlet]="dataCell"
                        [ngTemplateOutletContext]="{row: row, column: column }"></ng-container>
        </ng-container>
      </tr>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</table>

<ng-template #headerCell let-column="column">
  <th class="header-cell {{column.displayType}}-header" [hidden]="!column.showColumn">
    <button class="sort-button" (click)="sort(column)"
            [ngClass]="{'sorted-on': sortColumn === column.fieldName, 'not-sorted': sortColumn !== column.fieldName}">
      <mat-icon *ngIf="column.sortDirection === 'ASC'">arrow_upward</mat-icon>
      <mat-icon *ngIf="column.sortDirection === 'DESC'">arrow_downward</mat-icon>
    </button>
    <div class="header-text">{{column.title}}</div>
  </th>
</ng-template>

<ng-template #dataCell let-row="row" let-column="column">
  <td class="body-cell {{column.displayType}}-cell" [hidden]="!column.showColumn">
    <span *ngIf="column.displayType !== 'boolean' && column.displayType !== 'button'" class="content" [innerHTML]="row[column.displayField] | safePipe: 'html'"></span>
    <span *ngIf="column.displayType === 'boolean'" class="content">
      <mat-icon>{{(row[column.displayField] === true || row[column.displayField] === 'Y') ? 'check_box' : 'check_box_outline_blank'  }}</mat-icon>
    </span>
    <span *ngIf="column.displayType === 'button'" class="content">
                  <button class="mat-raised-button mat-button-base mat-primary {{row[column.buttonClass]}}"
                          [disabled]="column.buttonDisabledFn(row)"
                          (click)="column.buttonFn(row, $event)">{{column.buttonTextFn(row)}}</button>
    </span>
  </td>
</ng-template>
