<div class="page-wrapper">
  <h2>Sabre Fencing in Fredericton</h2>
  <p>The Beaches Sabre Club has come to Fredericton and is proud to offer new programs to fencers of all ages
  and experience. Our head coach <strong>Jim Stevens</strong> has been teaching fencing for
  over 20 years and has been building a sabre community in town for the last 10 years.</p>
  <p>We have a new facility (or "salle") at our 512 George Street location. It is a little small for now,
  but we want to grow our space as our club grows. Look for us on top of <a href="https://www.rivervalleyhealthsolutions.com/">River Valley Health Solutions</a>
  which offers great massage therapy and other health services.</p>
</div>

