<div class="modal-wrapper-sm">
  <div class="form-scroller">
    <form autocomplete="off" novalidate class="form-wrapper">

      <mat-card class="field-card">
        <div class="form-header">
          <h2>{{title}}</h2>
        </div>
        <p>Please answer each of the following questions to the best of your knowledge before entering the club</p>

        <mat-card class="questions-card">
          <div *ngFor="let question of questions" class="question-wrapper">
            <div class="question-text">{{question.questionText}}</div>
              <mat-radio-group *ngIf="question?.answers.length > 1"
                class="radio-group" name="question-group-{{question.questionId}}"
                [(ngModel)]="question.answerValue" (change)="updateAnswers()">
                <mat-radio-button class="answer-button" *ngFor="let answer of question.answers" [value]="answer.answerId">
                  {{answer.answerText}}
                </mat-radio-button>
              </mat-radio-group>
            <div class="sub-question-wrapper">
              <div class="sub-question-left">
                <div *ngFor="let subQuestion of question.childQuestions" class="sub-question-row sub-question-text">{{subQuestion.questionText}}</div>
              </div>

              <div class="sub-question-right">
                <div *ngFor="let subQuestion of question.childQuestions" class="sub-question-row">
                  <mat-radio-group
                    class="radio-group" name="sub-question-group-{{subQuestion.questionId}}"
                    [(ngModel)]="subQuestion.answerValue" (change)="updateAnswers()">
                    <mat-radio-button class="answer-button" *ngFor="let answer of subQuestion.answers" [value]="answer.answerId">
                      {{answer.answerText}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </form>
  </div>
  <div class="action-bar">
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button color="primary" (click)="saveAttendance()" ngClass="{{allAnswered ? '' : 'disabled'}}"
            appTooltip [showTooltip]="!allAnswered" [tooltipData]="'All questions must be answered'"
      >Finish and Sign</button>
  </div>
</div>

