@import "../../../../../styles";

.modal-wrapper-sm {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.question-wrapper {
  display: flex;
  flex-flow: column nowrap;
  .question-text {
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    flex: 1 1 auto;
  }
}
.radio-group {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  padding-bottom: 10px;
  .answer-button {
    margin-left: 20px;
    font-weight: 600;
  }
}
.sub-question-wrapper {
  display:flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  .sub-question-left {
    display: flex;
    flex: 2;
    flex-flow: column nowrap;
  }
  .sub-question-right {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
  }
}

.progress-header {
  margin-bottom: 20px;
  .progress-bar {
    position: absolute;
    height: 22px;
  }
  .progress-text {
    position:absolute;
    right: 50%;
  }
}
.stepper-content {
  margin-top: 30px;
}
.top-space {
  margin-top: 20px;
}
.completed {
  text-align: center;
  font-size: 18px;
}
