<div class="page-wrapper">
  <mat-expansion-panel [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header class="panel-header">
      <h1>Weekly Schedule</h1>
    </mat-expansion-panel-header>
    <season-switcher (seasonChanged)="selectSeason($event)"></season-switcher>
    <div class="schedule-grid" >
      <ng-container *ngFor="let weekHeader of weekdays">
        <div *ngIf="dayColumns[weekHeader.id] && dayColumns[weekHeader.id].length > 0" class="day-column">
          <div class="day-header grid-item">{{weekHeader.dayName}}</div>
          <ng-container *ngFor="let startTime of startTimes">
            <div class="day-column-row">

              <ng-container *ngFor="let dayClass of dayColumns[weekHeader.id]">
                <div *ngIf="dayClass.startTime === startTime" class="class-item grid-item"
                     [style.max-height]="maxClassHeight"
                     [style.backgroundColor]="dayClass.bgColor"
                     [style.borderColor]="dayClass.bgColor"
                     [style.color]="dayClass.textColor">
                  <span class="name">{{dayClass.programName}}</span>
                  <span class="name" *ngIf="dayClass.secondProgramName">and {{dayClass.secondProgramName}}</span>
                  <span class="time">{{dayClass.startTime}}</span>
                  <span class="time">to {{dayClass.endTime}}</span>
                  <span class="date" *ngIf="dayClass.startDate">Starting:{{dayClass.startDate}}</span>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

<!--          <ng-container *ngFor="let dayClass of dayColumns[weekHeader.id]">-->
<!--            <div class="class-item grid-item"-->
<!--                 [style.max-height]="maxClassHeight"-->
<!--                 [style.backgroundColor]="dayClass.bgColor"-->
<!--                 [style.borderColor]="dayClass.bgColor"-->
<!--                 [style.color]="dayClass.textColor">-->
<!--              <span class="name">{{dayClass.programName}}</span>-->
<!--              <span class="name" *ngIf="dayClass.secondProgramName">and {{dayClass.secondProgramName}}</span>-->
<!--              <span class="time">{{dayClass.startTime}}</span>-->
<!--              <span class="time">to {{dayClass.endTime}}</span>-->
<!--              <span class="date" *ngIf="dayClass.startDate">Starting:{{dayClass.startDate}}</span>-->
<!--            </div>-->
<!--          </ng-container>-->
      </ng-container>
    </div>

  </mat-expansion-panel>
</div>
