.mat-expansion-panel {
  h1 {
    color: black;
  }
  .schedule-grid {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    .grid-item {
      display: flex;
      flex: 1;
      background-color: white;
      align-items: center;
      margin: 5px;
      justify-content: center;
      border-radius: 10px;
    }
    .day-column {
      display: flex;
      flex: 1;
      flex-flow: column nowrap;
    }
    .day-header {
      max-height: 60px;
      min-height: 60px;
      font-size: 1.8em;
      font-weight: 700;
      border: 10px solid white;
    }
    .class-item {
      min-height: 60px;
      flex-flow: column nowrap;
      padding: 15px;
      span {
        text-align:center;
        font-size: 1.2em;
      }
      .name {
        font-weight: 700;
        font-size: 1.3em;
        margin-bottom: 5px;
      }
      .date {
        font-style: italic;
      }
    }
  }
}
