<mat-card class="link-wrapper">
  <div class="tag-items">
    <mat-chip *ngIf="hasEditRole"  color="primary" class="chip-edit" selected (click)="editPost()">Edit</mat-chip>
    <mat-chip-list class="tag-list">
      <mat-chip class="tag-chip" *ngFor="let tag of myTags" (click)="applyFilter(tag)">{{tag.name}}</mat-chip>
    </mat-chip-list>
  </div>
  <img class="image-item link-banner-image" *ngIf="postRecord.linkImageId"
       restImage [restSrcId]="postRecord.linkImageId" [preview]="false"  [maxSize]="400" src=""
       (click)="openPost()" />
  <div ngClass="image-item link-banner-image default-{{postRecord.templateType}}-banner" *ngIf="!postRecord.linkImageId"></div>
  <div class="header-wrapper" [style.background-color]="postRecord.headerBackground ? postRecord.headerBackground : ''" (click)="openPost()" >
    <h1 class="link-header-text" [style.color]="postRecord.headerTextColor ? postRecord.headerTextColor : ''"
        [innerHTML]="postRecord.headerContent | safePipe: 'html'"></h1>
  </div>
  <div class="sub-header-wrapper">
    <h3 class="link-sub-header-text" [innerHTML]="postRecord.subHeader | safePipe: 'html'"></h3>
  </div>
  <div class="content-preview" *ngIf="postRecord.templateType === 'html'" [innerHTML]="postRecord.htmlContent |safePipe: 'html'"></div>
  <div class="content-preview" *ngIf="postRecord.templateType !== 'html'" [innerHTML]="postRecord.p1 |safePipe: 'html'"></div>
  <div class="transparency-layer"></div>
</mat-card>
