.mat-select{
  border: 1px solid grey;
  padding: 5px;
  min-width: 282px;
  font-weight: 600;
}
.main-text {

}
.alt-text {
  margin-left: auto;
}

::ng-deep .mat-option-text {
  display: inline-flex !important;
}
