.mat-select{
  border: 1px solid grey;
  padding: 10px;
  min-width: 200px;
  font-weight: 600;
  ::ng-deep .mat-select-arrow-wrapper {
    transform: unset !important;
  }
}
.main-text {

}
.alt-text {
  margin-left: auto;
}

::ng-deep .mat-option-text {
  display: inline-flex !important;
}
