@import "~src/styles";
.panel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  background-color: #fafafa;
}
.data-grid {
  flex: 1 1 auto;
  width: 100%;
}
.mat-expansion-panel {
  max-height: 600px;
  .mat-expansion-panel-content {
    display: flex;
  }
}
mat-expansion-panel.tall-input-table {
  max-height: 800px !important;
  .mat-expansion-panel-content {
    max-height: 700px;
  }
  .mat-sidenav-container {
    max-height: 700px;
  }
  .filtered-table {
    height: 600px;
  }
}
.side-nav {
  display: flex;
}
.main-content {
  display: flex;
  height: auto;
  margin-left: auto !important;
  flex: 1 1 auto;
}
.panel-filter-bar {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  .search-input {
    flex: 5;
    margin-right: 10px;
  }
  @media (max-width: 600px) {
    .filter-found { display: none !important;}
    .filter-found-mobile {display: flex !important;}
  }
  .filter-found-mobile {
    display: none;
    flex: 1;
  }
  .filter-found {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
  .mat-chip {
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 5px;
  }
}
