@import "~src/styles";
.panel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  background-color: #fafafa;
}
.data-grid {
  flex: 1 1 auto;
  width: 100%;
}
.mat-expansion-panel {
  max-height: 600px;
  .mat-expansion-panel-content {
    display: flex;
  }
}
mat-expansion-panel.tall-input-table {
  max-height: 800px !important;
  .mat-expansion-panel-content {
    max-height: 700px;
  }
  .mat-sidenav-container {
    max-height: 700px;
  }
}
.side-nav {
  display: flex;
}
.main-content {
  display: flex;
  height: auto;
  margin-left: auto !important;
  flex: 1 1 auto;
}
