<mat-expansion-panel ngClass="panel {{tableAltClass}}" (opened)="refreshData()"
                     [expanded]="alwaysOpen" [disabled]="alwaysOpen" [hideToggle]="alwaysOpen"  >
  <mat-expansion-panel-header ngClass="panel-header {{(alwaysOpen) ? 'not-disabled' : ''}}">
    <mat-panel-title>
      <h3 class="panel-title">{{configObject.entityType}} Records</h3>
    </mat-panel-title>
    <mat-panel-description class="header-description">
      <!--   could add more details here   -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!--  local filter input-->
  <ng-container *ngIf="filterBarFields.length > 0">
    <div class="panel-filter-bar mat-card">
      <div class="search-input">
        <app-string-input
          [title]="'Search rows'"
          [value]="filterBarText"
          (valueChange)="filterRecords($event)"
        ></app-string-input>
      </div>
      <div class="filter-found">Found items:<mat-chip selected color="primary">{{filteredGridData.length || 0}}</mat-chip></div>
      <div class="filter-found-mobile"><mat-chip color="primary">{{filteredGridData.length || 0}}</mat-chip></div>
    </div>
  </ng-container>
  <app-table
    ngClass="data-grid {{(filterBarFields.length) ? 'filtered-table' : ''}}"
    [tableColumns]="configObject.columns"
    [gridData]="filteredGridData"
    [isEditable]="true"
    [canAddRows]="!configObject.disableAdd"
    [defaultObject]="configObject.defaultObject"
    (editRow)="editRow($event)"
    [canSelect]="configObject.allowSelect === true"
    (selectedRow)="notifySelectionState($event, true)"
    (deselectedRow)="notifySelectionState($event, false)"
    [altClass]="tableAltClass"
    [(nudgeView)]="nudgeTable"
  ></app-table>
</mat-expansion-panel>
