.filter-bar {
  .search-bar {
    flex: 2;
    ::ng-deep.mat-form-field-infix {
      padding: 13px 0 !important;
    }
  }
  .mat-form-field {
    padding: 5px 10px;
    max-height: 40px;
  }
  ::ng-deep.mat-form-field-infix {
    padding: 10px 0;
  }
  label {
    color: red;
    transform: translateY(-20px) scale(.75) !important;
  }
}
.multi-select {
  margin-right: 10px;
}

.select-menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
.search-bar {
  flex: 4 4 auto;
  input {
    max-height: 30px;
  }
}

.filter-menu { flex: 1 }
.filter-menu-hint { flex: 2 }
.filter-menu, .filter-menu-hint {
  .mat-form-field-infix {
    padding: 10px 0;
  }
  .filter-menu-button {
  }
  .filter-hint-text {
    padding-left: 5px;
    padding-top: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
  }
}
.radio-filter {
  flex: 2
}
