.season-selector {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 30px;
  h4 {
    font-size: 1.5vw;
    padding-right: 50px;
  }
}

.wide-calendar {
  width: 100%;
  background-color: #EEEEEE;
}

