<div class="page-wrapper">
  <div class="season-selector">
    <h4>Program Season to view</h4>
    <mat-form-field class="season-input">
      <mat-label>Select a season:</mat-label>
      <mat-select  [compareWith]="compareSeasons" [(ngModel)]="selectedSeason">
        <mat-option *ngFor="let season of availableSeasons" [value]="season">
          <strong>{{season.name}} {{season.year}}</strong> ({{season.startDate | date: 'shortDate'}} - {{season.endDate | date: 'shortDate'}})</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <h2>Class Schedule</h2>
    <org-calendar class="wide-calendar" id="schedule"
                  [panelTitle]="'Class Schedule'"
                  [addCalendarItems]="currentScheduleItems"
                  [setCurrentDate]="seasonDate"
    ></org-calendar>

  <h2>Programs</h2>
  <mat-accordion [multi]="true" id="programs">
    <mat-expansion-panel *ngFor="let programItem of currentPrograms"
         [expanded]="programItem.expanded"
         [ngStyle]="{ 'border-width': '2px', 'border-style': 'solid', 'border-color': programItem.colorValue }">
      <mat-expansion-panel-header>
        <h1>{{programItem.levelName}}</h1>
        <org-registration-button
          [program]="programItem"
        ></org-registration-button>
      </mat-expansion-panel-header>
        <!-- Panel Content -->
        <mat-chip-list class="info-chips">
          <mat-chip>Season: {{programItem.seasonName}} {{programItem.year}}</mat-chip>
          <mat-chip>Day(s): <span *ngFor="let schedule of programItem.schedule">{{schedule.dayOfWeek}} </span></mat-chip>
          <mat-chip>Class length: {{programItem.schedule[0].duration}} minutes</mat-chip>
        </mat-chip-list>
        <p [innerHTML]="programItem.levelDescription | safePipe: 'html'"></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
